.env
.venv/
venv/
__pycache__/
.pytest_cache/
pytest-cache-files-*/
.mypy_cache/
*.egg-info/
*.pyc
*.pyo
*.log
reports/*
!reports/.gitkeep
app/*.apk
app/*.aab
app/*.ipa
allure-results/
allure-report/
firebase-results/
node_modules/
